.endtoend-wrapper {
  text-align: center;
  padding: 10px 10%;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.endtoend-title {
  font-size: 2.8rem;
  font-weight: 700;
  font-style: italic; /* full heading italic */
  color: #fff;
  margin-bottom: 60px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.endtoend-title span {
  color: #a855f7; /* purple accent */
  font-weight: 800;
}

.endtoend-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.grid-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.endtoend-card {
  background: rgba(17, 12, 88, 0.758);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  border: 1.5px solid rgba(168, 85, 247, 0.4);
  padding: 30px;
  width: 45%;
  text-align: left;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.05);
}

.endtoend-card:hover {
  transform: scale(1.05);
  border-color: #c084fc;
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.3);
  background: rgba(168, 85, 247, 0.1);
}

.icon {
  font-size: 2.5rem;
  color: #c084fc;
  margin-bottom: 15px;
}

.endtoend-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.endtoend-card p {
  font-size: 0.95rem;
  color: #d1c4e9;
  margin-bottom: 10px;
  line-height: 1.5;
}

.points {
  margin-top: 10px;
  padding-left: 10px;
  list-style: none;
}

.points li {
  font-size: 0.9rem;
  color: #f3e8ff;
  padding: 3px 0;
  transition: all 0.2s ease;
}

.points li:hover {
  color: #c084fc;
  transform: translateX(5px);
}

/* Responsive */
@media (max-width: 900px) {
  .endtoend-card {
    width: 100%;
  }
}
